.c-form-editor-content {
  h1 {
    display: block !important;
    font-size: 2em !important;
    font-weight: bold !important;
    line-height: 1em !important;
  }
  h2 {
    display: block !important;
    font-size: 1.5em !important;
    font-weight: bold !important;
    line-height: 1.5em !important;
  }
  h3 {
    display: block !important;
    font-size: 1.17em !important;
    font-weight: bold !important;
    line-height: 1.17em !important;
  }
  h4 {
    display: block !important;
    font-weight: bold !important;
    line-height: 2em !important;
  }
  h5 {
    display: block !important;
    font-size: .83em !important;
    font-weight: bold !important;
    line-height: .83em !important;
  }
  h6 {
    display: block !important;
    font-size: .67em !important;
    font-weight: bold !important;
    line-height: .67em !important;
  }
}

.q-menu {
  h1 {
    display: block !important;
    font-size: 2em !important;
    font-weight: bold !important;
    line-height: 1em !important;
  }
  h2 {
    display: block !important;
    font-size: 1.5em !important;
    font-weight: bold !important;
    line-height: 1.5em !important;
  }
  h3 {
    display: block !important;
    font-size: 1.17em !important;
    font-weight: bold !important;
    line-height: 1.17em !important;
  }
  h4 {
    display: block !important;
    font-weight: bold !important;
    line-height: 2em !important;
  }
  h5 {
    display: block !important;
    font-size: .83em !important;
    font-weight: bold !important;
    line-height: .83em !important;
  }
  h6 {
    display: block !important;
    font-size: .67em !important;
    font-weight: bold !important;
    line-height: .67em !important;
  }
}

